body {
    margin: 0 auto;
    width: 375px;
    background-color: #ededed;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
}

nav,
header,
.icons {
    display: flex;
    align-items: center;
}

nav,
header,
section {
    background-color: #ffffff;
}

nav,
.icons {
    justify-content: space-between;
}

/*ELEMENTS*/
nav {
    height: 67px;
    padding: 0 16px;
    border-bottom: 1px solid #C6C6C6;
}

header {
    padding: 10px;
}

#img-section {
    height: 375px;
    padding: 0;
}

section {
    padding: 20px 15px 10px;
    margin-bottom: 25px;
}

/*CLASSES*/
.logo {
    width: 126px;
}

.user-img {
    border-radius: 50%;
    height: 34px;
}

.user-info {
    margin-left: 7px;
    font-size: 12px;
}

.main-img {
    width: 100%;
    height: 100%;
}

.icon {
    height: 23px;
    display: flex;
    transition: 0.1s;
}

.icon:hover {
    scale: 1.15;
}

.icon:active {
    scale: 1;
}

.icons {
    width: 100px;
}

a {
    cursor: pointer;
}

/* UTILITIES CLASSES*/
.bold-text {
    font-weight: bold;
}

.mg-zero {
    margin: 0;
}

.mg-ten {
    margin-bottom: 10px; 
}

.in-block {
    display: inline-block;
}